.main {
  background-color: var(--navyblue);
  padding: 10px 80px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.herocontainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.herotext {
  margin-top: 50px;
}

.herotext h1 {
  width: 560px;
  height: 138px;
  font-weight: 400;
  font-size: 48px;
  color: white;
}

.herotext p {
  width: 567px;
  height: 56px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #f1f1f1;
  margin-bottom: 20px;
}

.btns {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 24px;
  width: 458px;
  height: 60px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.btns button {
  border: none;
  border-radius: 56px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btns button:hover {
  cursor: pointer;
}

.btns .buyBtn {
  width: 247px;
  height: 60px;
  padding: 10px 56px;
  gap: 8px;
  background: var(--green);
  border: 2px solid #69e6a6;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 28px;
  color: #0a2640;
}

.btns .exploreBtn {
  padding: 16px 56px;
  gap: 8px;
  border: 2px solid #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
  background: #0a2640;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

.heroImg {
  width: 493.86px;
  height: 423px;
  flex: none;
  order: 1;
  flex-grow: 0;
  border: 1px solid red;
}

.heroImg img {
  width: 80%;
  height: 100%;
  object-fit: cover;
}

.funding {
  margin: 30px 0;
}
