.layout {
  width: 100%;
}

.main{
  width: 100%;
  background-color: #fff;
}

.navcontainer {
  background-color: var(--navyblue);
  width: 100%;
  color: #fff;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 30px;
  height: 30px;
}

.logo h1 a {
  font-family: Manrope;
  font-size: 43.25px;
  margin-left: 5px;
  color: white;
  font-weight: 400;
}

.navcontainer ul {
  width: 30%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

 a {
  color: white;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.navbtn {
  background-color: #fff;
  color: black;
  padding: 8px 40px;
  border: none;
  border-radius: 24px;
}

.navbtn a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: black;
}
