.lightMode {
    background-color: #fff;
    color: black;
    width: 100%;
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
  }
  
  .lightMode .logo {
    border: 1px solid;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .lightMode .logo img {
    width: 33px;
    height: 34px;
  }
  
  .lightMode .logo h1 a {
    font-family: 'Manrope', sans-serif;
    font-size: 43.25px;
    margin-left: 5px;
    color: black;
    font-weight: 400;
  }
  
  .lightMode ul{
    width: 32%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .lightMode ul li a {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: black;
    cursor: pointer;
  }
  
  .lightMode .navbtn{
    background-color: #fff;
    color: black;
    padding: 8px 40px;
    border: 1px solid black;
    border-radius: 24px;
  }
  
  .lightMode .toggle{
    width: 50px;
    font-size: 32px;
  }
  
  
  
  .darkMode {
    background-color: #000;
    color: #fff;
  }
  